language: node_js
node_js:
  - 7
env: 
  - CI=true
cache:
  directories:
    - node_modules
script:
  npm run build-storybook
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: storybook-static
  on:
    branch: master